.filtro-contenedor {
    display: flex;
    margin: auto;
}

.filtros {
    width: 87%;
    margin: auto;
}

.filtro {
    margin: 0 10px
}

* {
    font-family: 'Montserrat', sans-serif;
}

.sectionClasses {
    width: 80%;
    margin: auto;
}


@media (max-width: 700px) {

    .filtro-contenedor{
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }

    .filtroTipo, .filtroFrecuencia{
        width: 40%;
        margin-bottom: 20px;
    }


    .btnBuscar{
        width: 40%;
        margin: auto;
    }

    .listado {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}